{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'lib/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/indexStyle.css' %}">
</head>
<body>
<div class="alert alert-primary text-center">
        <h4>سیستم پویا لیست موجودیت های اداره</h4>
    </div>

    <div class="container">
        <div class="container" dir="rtl">
            <form method="POST" action="{% url 'doAddBranch' %}">
                {% csrf_token %}
                <div class="container">
                    <input name="streetName" type="text" class="form-control margin-top-20px" placeholder="نام خیابان">
                    <input name="cityName" type="text" class="form-control margin-top-20px" placeholder="نام شهر">
                    <input name="countryName" type="text" class="form-control margin-top-20px" placeholder="نام کشور">
                    <input name="fullAddress" type="text" class="form-control margin-top-20px" placeholder="آدرس کامل">

                    <select class="form-control margin-top-20px" name="resturantID" id="">
                        {% for item in allResturant %}

                            <option value="{{ item.id }}">{{ item.resturantName }} || {{ item.managerFullName }}</option>

                        {% endfor %}

                    </select>
                </div>
                <section class="text-center margin-top-20px">
                    <button class="btn btn-success">ثبت</button>
                    <a href="{% url 'indexPage' %}" class="btn btn-danger">انصراف</a>
                </section>
            </form>
        </div>
    </div>
</body>
</html>